{% extends 'layout/_layout.html.twig' %}

{% block title %}{{ siteName }}{% endblock %}

{% block main %}

<main class="flex-grow-1">
    <div {{ stimulus_controller('anchor') }}>

        <div id="banner-home"
             style="
                     background-image:url('{{ asset('images/pages/home/banner-home.jpg') }}');
                     background-size: cover;
                     background-position: top left;
                     background-repeat: no-repeat;
                     height: 90vh;
                     ">
            <div id="catch-phrase" class="container-fluid">
                <h3 class="w-50 text-center border-top border-bottom border-1 border-white py-4 fs-4 text-white">
                    Découvrez les secrets des plus grandes figures de snowboard sur notre plateforme de référence.
                </h3>
            </div>
            <div id="tricks-arrow-anchor-down">
                <a href="" data-action="click->anchor#moveTo" >
                    <i class="fa-solid fa-arrow-down"></i>
                </a>
            </div>
        </div>
        <div data-anchor-target="path" class="container-fluid row justify-content-center" {{ stimulus_controller('loader') }}>

            <div id="tricks-container" class="row g-4 px-4 justify-content-center" data-loader-target="tricksContainer"></div>

            <div id="load-more" class="col-8 mt-4" data-loader-target="buttonDisplayMore"></div>

        </div>

        <div id="tricks-arrow-anchor-up" class="d-none">
            <a href="" data-action="click->anchor#moveTo" >q
                <i class="fa-solid fa-arrow-up"></i>
            </a>
        </div>

    </div>
</main>

<div class="modal fade" id="tricksModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
