{% extends 'layout/_layout.html.twig' %}

{% block title %}{{ siteName }}{% endblock %}

{% block main %}
    <div id="banner-home"
         style="
                 background-image:url('{{ asset('images/pages/banner-home.jpg') }}');
                 background-size: cover;
                 background-position: top left;
                 background-repeat: no-repeat;
                 height: 90vh;
                 ">
        <div id="catch-phrase" class="container-fluid">
            <h3 class="w-50 text-center border-top border-bottom border-1 border-white py-4 fs-4 text-white">
                Découvrez les secrets des plus grandes figures de snowboard sur notre plateforme de référence.
            </h3>
        </div>
        <div id="tricks-arrow-anchor">
            <a href="#tricks-catalogue"><i class="fa-solid fa-arrow-down"></i></a>
        </div>
    </div>
    <div id="tricks-catalogue" class="container">
        <div class="p-4">

        </div>
    </div>
{% endblock %}
