{% extends 'layout/_layout.html.twig' %}

{% block title %}{{ siteName }}{% endblock %}

{% block main %}
    <main>
        <div>
            I'm the body main
        </div>
    </main>
{% endblock %}
