{% extends 'base.html.twig' %}
{% import "app/layout/_macros.html.twig" as macros %}

{% block title %}{{ siteName }}{% endblock %}

{% block body %}
    {% block header %}
        {% include 'app/layout/_header.html.twig' %}
    {% endblock %}

    <div id="security">
        <div id="security__background"></div>
        {{ macros.render_flash_messages() }}
        {{ macros.render_toast() }}


        <div id="security__box">
            <div class="content">
                {% block security %}{% endblock %}
            </div>
        </div>

        <div id="security__footer">
            {% block footer %}
                {% include 'app/layout/_footer.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
