<div>
    <div>
        Bienvenue sur snowticks votre site qui références les meilleurs figure de snowboard.
    </div>
    <div>
        Pour valider votre compte cliquer sur le lien suivant :
        <a href="{{ signedUrl }}">Valider mon adresse email</a>
    </div>
</div>
