$yellow: #F3EAC0;
$gray: #E9EAEC;
$blue-gray: #E7F2F8;
$dark-blue: #333652;

$primary: #354551;
$secondary: #534545;

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";