$yellow: #F3EAC0;
$gray: #E9EAEC;
$blue-gray: #E7F2F8;
$dark-blue: #333652;

$primary: #55707c;
$secondary: #7175ab;

$primary-gradient: linear-gradient(183deg, rgb(90 137 109) 0%, rgb(57 78 70) 100%);
$secondary-gradient: linear-gradient(7deg, #2e3a3f 0%, #3c5973 100%);

$main-shadow : 0 0 5px rgba(30, 30, 30, 0.5);

$main-shadow-hover:  0 0 5px rgba(30, 30, 30, 0.5) inset;

$media-large-desktop: "only screen and (max-width : 1240px)";
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";
