@import "../utils/variables";

.button{
  border: none;
  border-radius: 0;
  padding: 0.5rem 0.7rem;
  box-shadow: $neumorphisme;
  font-weight: 500;

  &:hover{
    box-shadow: $neumorphisme-hover;
  }
}

.button-primary{
  color: white;
  background: $primary-gradient;
}

.button-secondary{
  color: white;
  background: $secondary-gradient;
}