@import "../utils/variables";

.button{
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.7rem;
  box-shadow:  3px 3px 15px #6b6a6a,
  -3px -3px 15px #ffffff;
  font-weight: 500;

  &:hover{
    box-shadow: inset 3px 3px 15px rgba(20, 20, 20, 0.3),
    inset -3px -3px 15px rgba(50, 50, 50, 0.2);
  }
}

.button-primary{
  color: white;
  background: $primary-gradient;
}

.button-secondary{
  color: white;
  background: $secondary-gradient;
}