.flash{
  z-index: 2000;

  &-container{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }

  &-message{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 2px 10px 2px 20px;
    font-size: 1em;
    color: white;
    border-radius: 15px;
  }

  &-success{
    border: 1px solid rgba(100, 100, 100, 0.5);
    background-color: #198754;
  }

  &-danger{
    border: 1px solid rgba(100, 100, 100, 0.5);
    background-color: #bb2124;
  }
}

#toast{
  position: fixed;
  z-index: 2000;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;

  #toast-container{
    padding: 0.2rem 1.5rem;
    border-radius: 4.7rem;

    #toast-content{
      margin: 0;
      display: flex;
      justify-content: space-between;
      padding: 2px 10px 2px 20px;
      font-size: 1em;
      color: white;
      border-radius: 15px;
    }
  }

  .success{
    background-color: #198754;
    border: 1px solid rgba(100, 100, 100, 0.6);
  }

  .error{
    background-color: #bb2124;
    border: 1px solid rgba(100, 100, 100, 0.6);
  }
}