.flash{
  &-container{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }

  &-message{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 2px 10px 2px 20px;
    font-size: 1em;
    color: white;
    border-radius: 15px;
  }

  &-success{
    background-color: #198754;
    border: 1px solid black;
  }

  &-danger{
    background-color: #bb2124;
    border: 1px solid black;
  }
}