@import "../utils/variables";

.form-box{
  background: rgba(156, 100, 45, 0.1);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 24px 3px rgba(50, 50, 50, 0.5);
}
.custom-input{
  border: none;
  width: 100%;
  border-bottom: 2px solid $primary;
  border-radius: 2px;
  margin: 0.5rem 0;
  background: none;
  font-size: 1rem;
  padding: 0.2rem 0.7rem;
  color: #555555;
  font-weight: 300;

  &:focus{
    outline: none;
    border-bottom: 3px solid $primary;
    box-shadow: 0 15px 10px -15px #111;
  }
}