@import "../utils/variables";

// Media
.display-media {
  position: relative;

  .media-header {
    box-shadow: 0 6px 12px rgba(50, 50, 50, 0.7);
    background-color: #141414;

    .media-item {
      display: none;

      .media-content {
        display: block;
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 600px;

        @media #{$media-desktop} {
          height: 500px;
        }

        @media #{$media-mobile} {
          height: 400px;
        }
      }
    }

    .active {
      display: block;
    }
  }

  .media-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    height: 7.5rem;
    margin: 1rem;
    overflow: auto;
    padding-bottom: 1rem;


    .media-box {
      height: 100%;
      width: auto;
      margin: 0 0.5rem;
      opacity: 0.65;
      position: relative;
      cursor: pointer;
      border-radius: 0;
      filter: grayscale(90%);
      box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.6);


      .false-play {
        position: absolute;
        font-size: 3rem;
        left: 50%;
        top: 20%;
        color: #c4302b;
        transform: translate(-50%);
      }


      &:hover {
        opacity: 1;
      }

      .media {
        height: 100%;
        width: auto;
        border-radius: 0;
        object-fit: contain;
        object-position: center;
      }
    }

    .active {
      opacity: 1;
      filter: none;
      box-shadow: 1px 1px 5px rgba(40, 15, 15, 0.8);
    }
  }
}

