@import "../utils/variables";


footer{
  padding: 1rem 2rem;

  div{
    font-size: 0.8rem;
    font-weight: 300;
    color: #555555;
  }

  @media #{$media-mobile} {
    padding: 0.5rem 2rem;
  }
}
