@import "../utils/_variables.scss";


#header {
  height: 10vh;

  #hamburger {
    color: black;
    font-size: 3em;
    text-align: center;

    &:hover {
      color: $primary;
    }
  }

  #nav {

    margin-right: 1rem;
    margin-bottom: 0;

    li {
      &:not(:last-child) {
        border-right: 1px solid black;
      }
    }

    a {
      padding: 0 10px;
      list-style: none;
      text-decoration: none;
      color: black;

      &:hover {
        color: $primary;
      }
    }
  }

  .offcanvas-body{
    padding: 0;
  }

  #nav-canvas {
    padding: 0;
    margin: 0;

    li {
      width: 100%;

      a {
        width: 100%;
        display: block;
        text-align: center;
        padding: 15px 0;
        font-size: 2em;
        list-style: none;
        text-decoration: none;
        color: black;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        &:hover {
          color: $primary;
        }
      }
    }
  }
}