@import "../utils/variables";

.new-tricks{
  width: 80%;

  .upload-images {
    &__row{
      max-width: 200px;
      position: relative;

      .file-input{
        >div{
          margin: 10px 0;
          display: inline-block;
          position: relative;
          width: 8rem;
        }

        &__label{
          background: #353735;
          padding: 8px 15px;
          border-radius: 1.3rem;
          width: 8rem;
          text-align: center;
          box-shadow: 3px 3px 15px #6b6a6a, -3px -3px 15px #ffffff;
          color: white;
          font-weight: 500;
          cursor: pointer;

          &:hover{
            box-shadow: 0 3px 10px #393838;
            opacity: 0.9;
          }
        }

        &__trigger {
          display: none;
        }
      }

      .delete-image-upload {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #353735;
        color: white;
        border: none;
        border-radius: 1.5rem;
        padding: 0.5rem 0.9rem;
        box-shadow: 3px 3px 15px #6b6a6a;
        font-weight: 600;
        z-index: 1000;

        &:hover{
          font-weight: 700;
          box-shadow: 0 3px 10px #393838;
          cursor: pointer;
          opacity: 0.9;
        }

      }


      .preview-image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: grayscale(0.5);
        border-radius: 0.7rem;
        box-shadow: 3px 3px 15px #6b6a6a, -3px -3px 15px #ffffff;

        &:hover {
          filter: grayscale(0.8);
          box-shadow: 0 3px 10px #393838;
        }
      }
    }
  }

  .upload_videos {
    margin: 0.5rem 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      padding: 5px;

      input {
        border-radius: 0.375rem;
        border: 1px solid rgba(black, 0.4);
        padding: 0.1rem 0.75rem;

        &:focus {
          box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);
          outline: 0;
        }
      }
    }
  }

}

.btn-add-tricks{
  @media #{$media-mobile} {
    position: fixed;
    bottom: 6rem;
    right: 15%;
    left: 15%;
  }
}
