<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ siteName }}{% endblock %}</title>
    <link rel="icon" type="image/ico" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script>
            window.APP_BASE_PATH = '/public/';
        </script>
    {% endblock %}
</head>
<body class="scrollbar" id="style-1">
{% block body %}{% endblock %}
</body>
</html>
