{% extends 'layout/_layout.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block main %}
    <main class="d-flex justify-content-center align-items-center flex-grow-1">
        <div class="col-lg-3 col-md-5 col-sm-8 col-10">
            <h3 class="text-center border-bottom">Mot de passe oubliée</h3>

            <div class="mt-4">
                Veuillez renseigner l'adresse email de votre compte :
            </div>

            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}

            <div class="text-center">
                <button class="btn btn-primary mt-3">Envoyer</button>
            </div>
            {{ form_end(requestForm) }}
        </div>
    </main>
{% endblock %}
