{% extends 'layout/_layout.html.twig' %}

{% block title %}{{ siteName }} - New Tricks{% endblock %}

{% block main %}
    <main class="d-flex justify-content-center align-items-center flex-grow-1 mb-sm-0 mb-4">
        <div class="new-tricks">
            {{ component('TricksForm') }}
        </div>
    </main>
{% endblock %}
