{% extends 'base.html.twig' %}

{% block body %}

    {% block header %}
        {% include 'layout/_header.html.twig' %}
    {% endblock %}

    <main class="flex-grow-1">
        {% block main %}{% endblock %}
    </main>

    {% block footer %}
        {% include 'layout/_footer.html.twig' %}
    {% endblock %}


{% endblock %}
