{% macro render_flash_messages() %}
    {% if app.flashes('error') is defined or app.flashes('success') is defined %}
        <div class="flash-container">
            {% for message in app.flashes('error') %}
                <div class="alert-danger" {{ stimulus_controller('flash') }}>
                    <div class="mr-4">{{ message }}</div>

                    <a type="button" data-action="click->flash#dismiss">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </a>
                </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="alert-danger" {{ stimulus_controller('flash') }}>
                    <div class="mr-4">{{ message }}</div>

                    <a type="button" data-action="click->flash#dismiss">
                        <i class="fa-solid fa-circle-xmark"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}